{% extends 'base.html.twig' %}

{% block title %}Qui Suis-Je ?{% endblock %}

{% block body %}
    <div class="container">
    <h1>Qui suis-je ?</h1>
    {% if pages %}
        {% for page in pages %}
        <div class="page-container">

            <div class="text-block">
                <h1>{{page.title}}</h1>
                <p>{{page.content|raw}}</p>
            </div>
            <img src="{{asset('/upload/images/articles/' ~ page.image)}}" class="illustration"alt="image de l'article">
        </div>
        <hr>
        {% endfor %}
        {% else %}
                <h1>pas de présentations disponibles</h1>
    {% endif %}
    </div>
{% endblock %}
