{% extends 'base.html.twig' %}

{% block title %}Enregistrer un Administrateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créez un compte administrateur</h1>
        {{form(registrationForm)}}
    </div>
{% endblock %}
