<footer>
	<div class="footer-developpeur">
		<h5>Site réalisé par Cod@ddict</h5>
		<a href="http://www.codaddict.fr">www.cod@ddict.fr</a>
	</div>
	<div class="footer-mentions">
		<a href="#">
			Mentions Légales
		</a>
		<a href="#">
			Politique de confidentialité
		</a>
	</div>
    <div class="footer-separator"></div>
	<div class="footer-contact">
		<div class="footer-adress">
			<i class="fas fa-map-marker-alt"></i>
			<p>Adresse:108 Boulevard Carnot, 47000 AGEN</p>
		</div>
		<div class="footer-phone">
			<i class="fas fa-phone-alt"></i>
			<p>06 47 85 74 74</p>
		</div>

		<div class="footer-mail">
			<i class="fas fa-paper-plane"></i>
			<p>contact@example.fr</p>
		</div>

	</div>
</footer>