{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialé{% endblock %}




{% block body %}
<div class="container">
    <h1>Politique de confidentialté</h1>
	
		<h3>Introduction :</h3> 
		<p>
            La présente politique de confidentialité décrit la manière dont nous collectons, utilisons et protégeons les informations que vous nous fournissez lorsque vous utilisez notre application web [nom de l'application web]. Nous nous engageons à protéger la vie privée des utilisateurs de notre application web et à respecter la législation en vigueur en matière de protection des données personnelles.
		Collecte des données :
		Nous ne collectons que les données personnelles nécessaires au fonctionnement de notre application web. Les données que nous collectons peuvent inclure :
		<ul class="politics">
			<li>Votre nom, votre adresse e-mail, votre numéro de téléphone, votre adresse postale et d'autres informations de contact.</li>
			<li>Les informations que vous nous fournissez lorsque vous remplissez des formulaires sur notre application web, telles que les formulaires de demande de rendez-vous ou de contact.</li>
			<li>Les informations que vous nous fournissez lorsque vous utilisez notre service de chat en ligne.</li>
			<li>Les informations que vous nous fournissez lorsque vous participez à des sondages ou des enquêtes.</li>
		</ul>
		
        </p>
		
        <h3>Utilisation des données :</h3>
		<p>Nous n'utilisons vos données personnelles que pour vous fournir les services que vous avez demandés, notamment pour vous contacter, vous envoyer des informations sur nos services ou pour vous permettre de prendre rendez-vous avec la thérapeute psychologue.</p>
		
		<h3>Protection des données :</h3>
        <p>Nous nous engageons à protéger vos données personnelles contre toute utilisation non autorisée ou illégale, et à prendre toutes les mesures nécessaires pour garantir la sécurité de vos données.</p>
		<h3>Cookies :</h3>
		<p>
            Notre application web n'utilise pas de cookies en particulier autre que ceux nécessaires au fonctionnement du site.
        </p>
		<h3>Accès, modification et suppression des données :</h3>
		<p>Vous pouvez accéder à vos données personnelles et les modifier ou les supprimer à tout moment en nous contactant à l'adresse [adresse de contact]. Nous nous engageons à répondre à vos demandes dans les meilleurs délais.</p>
		
		
        <h3>Modification de la politique de confidentialité :</h3>
        <p>
            Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur notre site web et vous serez informé(e) par e-mail des modifications importantes.
        </p>
		<h3>Contact :</h3>

        <p>
            Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, vous pouvez nous contacter à l'adresse [adresse de contact].
        </p>
        <br>
        <br>

</div>
	
		
		

{% endblock %}


