@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  h1,
  h2,
  h3,
  p,
  li {
    color: aliceblue;
    font-family: "Lato", sans-serif;
  }
  ul {
    list-style: none;
    text-decoration: none;
  }
  button {
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: green;
    border: none;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba($color: #1a1919, $alpha: 0.5);
    margin: 10px;
    transition: all 0.4s ease-in-out;
    color: white;
  }
  button:hover {
    background-color: rgb(34, 148, 34);
    box-shadow: 5px 5px 10px rgba($color: #227a3c, $alpha: 0.5);
  }

  nav {
    background-color: rgb(57, 167, 143);
    color: aliceblue;
    #logo {
      width: 110px;
      height: 110px;
    }
    #navbarSupportedContent {
      .navbar-nav {
        .nav-item {
          color: aliceblue;
        }
      }
    }
  }
  header {
    display:flex;
    align-items: center;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.95),
        rgba(255, 255, 255, 0.2)
      ),
      url(./../images/mannequin.png);
    background-size: cover;
    background-position: top;
    height: 50vh;

    text {
      align-self: center;

      ul {
        align-items: flex-start;
        li {
          color: aliceblue !important;
        }
      }
    }
    .name {
      color: aliceblue;
      // font-family: "Cookie", cursive;
      font-family: "Great Vibes", cursive;
    }
  }
}
