{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
<section class="section-form">
    <h1 class="contact_title">Contactez-moi</h1>
    
	<div class="form">
        {{form(form)}}
    </div>
</section>
	
		
	

{% endblock %}
